pandas
openpyxl
plotext
networkx
pyvis
yfinance
fpdf2
matplotlib
streamlit>=1.35.0
plotly
requests-cache
gspread
google-auth
textblob
requests
beautifulsoup4
lxml
scipy
fredapi
statsmodels
pandas-datareader